@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
}

.wrap {
    display: flex;
}

header {
    position: relative;
    width: 200px;
    height: 800px;
    background: rgb(236, 236, 163);
}

.gnb {
    margin-top: 50px;
}
.main {
    position:absolute
}
.main>li{
    position: relative
}
.main>li>a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
}

.main>li>a:hover {
    background: blue;
    color:aquamarine;
}
.main>li {
    display: flex;
}
.sub {
    position: absolute;
    left: 100%;
    top: -10px;
    height: 0;
    opacity: 0;
    visibility: 0;
    overflow: hidden;
    transition: .3s;
    line-height: 2;
    text-align: center;
}

.sub a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.sub a:hover {
    color: darkcyan;
    background: #ddd;
}
.main>li:hover .sub{
    background: lightseagreen;
    height: 200px;
    opacity: 1;
    visibility: visible;
}
