@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font:15px/1.6 '돋움', sans-serif ;
}

ul {
    list-style: none;    
}

a {
    color:#333;
    text-decoration: none;
}
img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* ============================ */
.wrap {
    display: flex;
}
header {
    z-index: 1;
    width: 200px;
    height: 800px;
    border: 1px solid #000;
}
.gnb {
    margin-top: 100px;
}

.main::before {
    z-index: -1;
    content:"";
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 148px;
    left: 200px;
    opacity: 0;
    transition: opacity .3s;
}

.main:hover::before {
    opacity: 1;
    width: 1720px;
    height: 200px;
}

.main li{
    position: relative;
    display: flex;
}
.main>li>a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .3s;
    font-weight: bold;
}

.main>li>a:hover {
    background: yellowgreen;
    color:#fff;
}
.sub {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.sub a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: 12px;
}
.sub a:hover {
    background: yellowgreen;
    color:#fff;
}
.main:hover .sub {
    opacity: 1;
    visibility: visible;
    width: 800px;
    height: 200px;
}

.contents {
    width: 400px;
    height: 800px;
}

.tabs {
    position: relative;
    width: 400px;
    height: 400px;
}
.tabs label {
    display: inline-block;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background: lightblue;
}
.tabs input {
    display: none;
}
.tabs .tab_contents {
    position: absolute;
    display: none;
}
.tabs input:checked+label {
    background: blue;
    color:#fff;
}

.tabs input:checked+label+.tab_contents {
    display: block;
}
.tabs input:checked+label+.tab2 {
    display: flex;
}
.tabs input:checked+label+.tab1 {
    padding: 10px;
}

.tabs a:hover {
    text-decoration: underline;
    color:aqua;
}
.tabs li {
    margin: 10px 0;
}


.slide {
    width: 1320px;
    height: 800px;
    overflow: hidden;
}

.slidelist {
    width: 400%;
    height: 100%;
    display: flex;
}
.inner {
    width: 25%;
}



.modal {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
}

.modal:target {
    display: block;
}

.modal_contents {
    position: relative;
    margin: 15% auto;
    width: 400px;
    height: 400px;
    background: #fff;
    padding: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background: lightblue;
    color:rgb(255, 0, 0);
    text-align: center;
    line-height: 50px;
}
.modal_contents h3 {
    padding: 20px;
}
.modal_contents p {
    padding: 20px;
}