@charset "UTF-8";
body {
    margin: 0;
}

.box_inner {
    width: 1050px;
    height: 113px;
    margin: 0 auto;
    background: rgb(107,127,189);
}
/* 헤더 */
header {
    z-index: 9999;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
/* 섹션1 */
.main_rolling_pc {
    height: 550px;
    background:lightcoral;
}
/* 섹션2 */
.about_area {
    height: 678px;
    background: lightblue;
}
/* 섹션3 */
.appbbs_area {
    height: 196px;
    padding: 60px 0;
    background: #fff;
}
/* 푸터 */
footer {
    border-top: 1px solid #ddd;
}